* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px;
}

.logo{
    margin-left: 30px;
}
.logo img {
  height: 40px; 
}

nav {
  background-color: rgba(255, 255, 255, 0.12);
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(7, 7, 153);
  display: inline-block;
  padding: 8px 0;
  font-weight: 700px;
}

nav ul li.cta a {
  background-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
}
