* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: #222;
  padding: 15px;
}


nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

nav ul li:hover {
  color: #ff8906;
  text-decoration: underline;
}



@media (max-width: 1023px) {
  nav ul li {
    display: block;
    border-bottom: 1px solid #444;
  }
}


@media (max-width: 767px) {
  nav ul li {
    display: inline-block;
    border-bottom: none;
  }
}
