* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
  background-color: rgba(255, 255, 255, 0.12);
  padding: 15px;
}


nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

nav ul li:hover {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(34, 34, 231);
  text-decoration: underline;
}



@media (max-width: 1023px) {
  nav ul li {
    display: block;
    border-bottom: 1px solid #444;
  }

  nav ul li:hover {
  padding: 5px 5px;
  border-radius: 5px;
  background-color: rgb(34, 34, 231);
  text-decoration: underline;
}
  
}


@media (max-width: 767px) {
  nav ul li {
    display: inline-block;
    border-bottom: none;
  }

  nav ul li:hover {
  padding: 5px 5px;
  border-radius: 5px;
  background-color: rgb(34, 34, 231);
  text-decoration: underline;
}
  

}
