* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 20px 50px; 
}

.logo img {
  height: 60px; 
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(7, 7, 153);
  font-weight: 700; 
  padding: 8px 0;
  display: inline-block;
}

nav ul li.cta a {
  background-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
}

.hero-section {
  background-image: url("img/rumah.jpg");
  border-radius: 10px;
  margin: 0 50px; 
  background-size: cover;
  background-position: center;
  padding: 40px;
}


.hero-section .hero-content {
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  gap: 50px;
}

.hero-section .hero-content > h1{
    font-size: 100px;
}

.cta-section {
  display: flex; 
  gap: 20px; 
}

.cta-section a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(241, 163, 16);
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.search-form {
    display: flex; 
    gap: 10px; 
    align-items: center; 
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.search-form input,
.search-form select,
.search-form button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1; 
    font-size: 16px;
}

.search-form button {
    background-color: #ff8c00; 
    color: white;
    border: none;
    cursor: pointer;
    flex-grow: 0; 
}


